.columnboard {
    background: #ffffff;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 20%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.columnboard .h2 {
    font-size: 18px;
    margin-bottom: 15px;
    color: #333;
}